:root {
  --font-family: "Josefin Sans", sans-serif;
  --font-size-title: 50px;
  --font-size-text: 16px;
  --soft-red: hsl(0, 93%, 68%);
  --desaturated-red: hsl(0, 36%, 70%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0.2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img_container {
  content: url("../images/hero-mobile.jpg");
  max-width: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-text);
}

main {
  display: flex;
  flex-direction: column;
}

main h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}

main h1 {
  text-transform: uppercase;
  font-weight: 600;
  display: grid;
  line-height: 1.1;
  font-size: 30px;
  margin-top: 1.5rem;
  padding: 0rem 9rem;
}
header svg {
  margin: 1rem;
}

main article {
  text-align: center;
}

main article p {
  text-align: center;
  padding: 0.8rem 1.5rem;
  color: var(--desaturated-red);
  line-height: 1.5;
  font-weight: 400;
}

input {
  position: relative;
  border: 0.5px solid var(--dark-grayish-red);
  background: transparent;
  padding: 0.85rem;
  border-radius: 30px;
  width: 60%;
}

form input::placeholder {
  color: rgb(189, 175, 175);
  letter-spacing: 0.1rem;
  font-weight: 400;
}

form button {
  position: absolute;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 1px 1px 2px rgb(197, 196, 196);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 40%;
  cursor: pointer;
  transition: 0.3s;
  margin-left: -68px;
}

form button:hover {
  background-image: linear-gradient(135deg, hsl(0, 91%, 77%), hsl(0, 82%, 70%));
}

form label {
  position: relative;
  top: 7.5px;
  left: 40%;
}

.error {
  color: var(--soft-red);
}

.disable {
  display: none;
}
@media (min-width: 800px) {
  .attribution {
    font-size: 11px;
    text-align: center;
    display: none;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: url("../images/bg-pattern-desktop.svg") no-repeat center/cover;
  }
  header {
    width: 30%;
    margin-top: 43px;
  }

  header svg {
    margin-left: 170px;
  }
  .img_container {
    content: url("../images/hero-desktop.jpg");
    max-height: 100vh;
    width: 60%;
    margin-top: -112px;
  }

  #container {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
  }

  #container h1 {
    width: 50%;
    font-size: 45px;
    margin-left: 28px;
    margin-top: 50px;
  }

  #container p {
    text-align: left;
    width: 80%;
    padding-left: 175px;
    margin-top: 5px;
  }

  form {
    padding-left: 165px;
    margin-top: 10px;
  }
  form input {
    background: transparent;
  }
  form button {
    position: absolute;
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
  }

  form button:hover {
    background-image: linear-gradient(
      135deg,
      hsl(0, 91%, 77%),
      hsl(0, 82%, 70%)
    );
  }

  form label {
    position: relative;
    top: 5px;
    right: 1%;
  }

  form p {
    position: relative;
    top: -4px;
    right: 20%;
    color: var(--soft-red);
  }

  .disable {
    display: none;
  }
}
